body{
    background: linear-gradient(to bottom right, blue 25%, purple 75%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}