body{
    background-color: #e642b5;
    background-image: url("cat.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center;
}