* { 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    background-color: #FFEAD3; 
}

.intros { 
    font-size: 20px; 
}

h1 { 
    color: #0d0f81; border: dotted 2px #0d0f81;
}
h2 { 
    color: #0d0f81; 
}
#b1, #b7 { 
    color : #700d81;
}
#b2 { 
    color : #075e20;
}
#b3 { 
    color : #0062ff;
}
#b4 { 
    color : #6c6fff;
}
#b5 { 
    color : #ff00008f;
}
#b6 { 
    color : #ff6200bf;
}

